h1 {
    font-size: 52px;
}

#copy img {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}

#generate input {
    background-color: #181a1b;
    border-color: #938e87 !important;
    color: white;
    height: auto;
    margin-right: 4px;
}

#display {
    color: white;
    list-style: none;
}